.fieldCorrect {
   -fx-background-color: darkseagreen;
}
.fieldIncorrect {
    -fx-background-color: #f59a9a;
}
.button {
    -fx-background-color: linear-gradient(#6191b1, #141a2d);
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 14px;
}
.button:hover {
    -fx-background-color: linear-gradient(#6191b1, #96aee8);
    -fx-text-fill: #141a2d;

}
#borderPane {
    -fx-background-color: #030e24;
}
.label {
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}