#main {
    -fx-background-image: url("https://i.pinimg.com/564x/8c/29/4b/8c294b88f92758e7f7889ad6a4c30beb.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.button {
    -fx-font-weight: bold;
    -fx-font-style: italic;

}
.detailsButton {
    -fx-background-color: #6ea3c4;
    -fx-max-width: 200px;
    -fx-max-height: 60px;

}
.align {
    -fx-alignment: center;
}